@import './base.css';
@import './normalize.css';

/*===Typo===*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/*===Global===*/
html {
  font-size: 62.5%;
  --darkGreen: #518820;
  --lightGreen: #99BF1C;
}
* {
  box-sizing: border-box;
}

/*===Styles typographiques===*/
a,
p {
  font-family: 'Noto Sans', Arial, sans-serif;
}

h1,
h2,
footer a,
header a {
  font-family: 'Fredoka One', Arial, sans-serif;
}

a {
  text-decoration: none;
}
a,
p,
h1 {
  color: #302A2A;
}

footer p {
  color: #756464;
}

h2 {
  color: #EEEDEC;
}

/*Tailles de typos*/
h2 {
  font-size: 6.2rem;
}

p {
  font-size: 2.4rem;
}

a {
  font-size: 3.3rem;
}

footer p {
  font-size: 1.8rem;
}

footer a {
  font-size: 6.5rem;
}

/*===Header===*/
header {
  box-sizing: border-box;
  background-color: #EEEDEC;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100vw;
  height: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Remplacement du logo*/
#explorepsm-logo {
  background: url(logo.svg) no-repeat center center;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 16.5rem;
  height: 5.5rem;
}

/*Information de connexion a droite*/
.liensProfil {
  position: absolute;
  right: 90px;
  bottom: 16px;
}
.identite p {
  margin: 0 1.5rem 0 0;
  font-size: 1.8rem;
}

.identite {
  display: flex;
  align-items: center;
  z-index: 1;
}

.identite img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 20rem;
}

/*Menu*/
.nav-toggle {
  position: absolute;
  top: 17px;
  left: 90px;
  width: 25px;
  height: 30px;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.nav-toggle-bar,
.nav-toggle-bar:before,
.nav-toggle-bar:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: #302A2A;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
}

.nav-toggle-bar:before {
  content: "";
  top: -7px;
  left: 5px;
}

.nav-toggle-bar:after {
  content: "";
  top: 7px;
  left: 5px;
}

.nav-toggle.active .nav-toggle-bar {
  background: #302A2A;
  transform: rotate(180deg);
}

.nav-toggle.active .nav-toggle-bar:before,
.nav-toggle.active .nav-toggle-bar:after {
  transform: rotate(180deg);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #EEEDEC;
  display: flex;
  color: white;
  overflow: hidden;
  align-items: center;
  z-index: 3;
  visibility: hidden;
  pointer-events: none;

  transform: translateX(-100vw);
  transition: all 0.5s ease-in-out;
}

.menu.open {

  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
  opacity: 1;
}

.menu li {
  list-style: none;
  padding: 20px;
  transform: translateX(30px);
  opacity: 0;
  transition: all .4s ease-in-out;
}

.menu.open li {
  transform: translateX(0);
  opacity: 1;
}

.noscroll {
  overflow: hidden;
}

.menu.open li:nth-child(n+1) {
  transition-delay: .4s;
}

.menu.open li:nth-child(n+2) {
  transition-delay: .45s;
}

.menu.open li:nth-child(n+3) {
  transition-delay: .50s;
}

.menu.open li:nth-child(n+4) {
  transition-delay: .55s;
}

.menu.open li:nth-child(n+5) {
  transition-delay: .60s;
}

.menu a {
  text-decoration: none;
  color: #302A2A;
  font-size: 5rem;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 2.2rem;
  width: 50%;
  margin-left: 5%;
}

/*===Content===*/
body {
  background-color: #EEEDEC;
}
/* main {
  margin-top: 9.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
} */

/*===Responsive smartphone===*/
@media only screen and (max-width: 480px) {
  .identite p {
    display: none;
  }

  .menu.open {
    display: flex;
    flex-direction: column;
  }

  .menu ul {
    margin-top: 6rem;
    width: auto;
  }

  .menu.open li {
    padding: 1rem 0 1rem 0;
    font-size: 3rem;
  }

  #lesSalles,
  #lesEtages {
    display: none;
  }

  /* main {
    padding-left: 2rem;
    padding-right: 2rem;
  } */

  .liensProfil {
    right: 30px;
  }

  .nav-toggle {
    left: 30px;
  }

}